<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
  <add name="MainConString" connectionString="Server =.; Database = CarShop; Trusted_Connection = True;" />
  <add name="NataCarShop.Properties.Settings.CarShopConnectionString"
   connectionString="Data Source=.9;Initial Catalog=CarShop;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
